<div class="container">
  <div class="row descricao">
      <div class="col-md-12">Década 90: 2 Aeronaves</div>
      <div class="col-md-6">Década 00: 2 Aeronaves</div>
      <div class="col-md-6">Essa semana: 3 Aeronaves</div>
  </div>
  <div class="search-itens">
      <input type="text" class="form-control input-search" aria-label="Text input with dropdown button" placeholder="Pesquisa por Modelo ou ID">
  </div>
</div>

<div class="centralizar" >
    <table class="table table-striped" style="overflow-x: auto;" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col-3">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Ano</th>
            <th scope="col">Modelo</th>
            <th scope="col">Vendido</th>
            <th scope="col">Excluir</th>
            <th scope="col">salvar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aeronave of aeronaves">
            <th scope="row">{{aeronave.id}}</th>
            <td><input type="text" [(ngModel)]="aeronave.nome" class="form-control" placeholder="Aeronave"></td>
            <td>
              <select class="form-select" placeholder="Selecione um estado" [(ngModel)]="aeronave.marca">
                <option value="Embraer" >Embraer</option>
                <option value="Boeing">Boeing</option>
                <option value="Airbus">Airbus</option>
                <option value="LEARJET">LEARJET</option>
                <option value="EUROCOPTER">EUROCOPTER</option>
                <option value="PIPER">PIPER</option>
                <option value="CESSNA">CESSNA</option>
              </select>
            </td>
            <td>
                <input type="number" [(ngModel)]="aeronave.ano" class="form-control" placeholder="Ano">      
            </td>
            <td>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="aeronave.descricao" class="form-control" placeholder="Modelo">
                </div>
              </div>
            </td>
            <td>
            <select class="col-md-6"  class="form-select" name="vendido" [(ngModel)]="aeronave.vendido">
              <option selected value={{true}}>Vendido</option>
              <option value={{false}}>Disponível</option>
            </select></td>
            
            
            <td (click)="DeleteAeronave(aeronave)" class="t-button-excluir"><button class="btn btn-danger btn-excluir" type="submit">X</button></td>      
            <td (click)="SalvarAtualizacaoAeronave(aeronave)" class="t-button-excluir"><button class="btn btn-primary btn-excluir" type="submit">+</button></td>  
            
           <button *ngIf="botaoSalvar==true" (click)="SalvarAtualizacaoAeronave(aeronave)">Salvar</button>
          </tr>
      </table>
</div>
