<h1 class="titulo">Gestão de Aeronaves</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <select class="form-select" placeholder="Selecione um estado" [(ngModel)]="aeronave.marca">
                <option value="Embraer" >Embraer</option>
                <option value="Boeing">Boeing</option>
                <option value="Airbus">Airbus</option>
                <option value="LEARJET">LEARJET</option>
                <option value="EUROCOPTER">EUROCOPTER</option>
                <option value="PIPER">PIPER</option>
                <option value="CESSNA">CESSNA</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" [(ngModel)]="aeronave.nome" class="form-control" placeholder="Aeronave">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" [(ngModel)]="aeronave.descricao" class="form-control" placeholder="Modelo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="number" [(ngModel)]="aeronave.ano" class="form-control" placeholder="Ano">
        </div>
        <div class="col-md-6">
            <select class="col-md-6"  class="form-select" name="vendido" [(ngModel)]="aeronave.vendido">
                <option selected value={{true}}>Vendido</option>
                <option value={{false}}>Disponível</option>
            </select>
        </div> 
        <div class="row btn-gravar">
            <div class="col-md-3">
                <button type="button" class="btn btn-success" (click)="incluirAeronave()" >Gravar</button>
        </div>
        </div>
    </div>
</div>
  
   

